:root {
    --violet: #9846A0;
    --purple: #793880;
}

body {
    font-family: sans-serif;
     background: linear-gradient(90deg, #46A098 0%, #54A654 100%);
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

/* *************** header & nav ****************** */
/* Step: 1 Style the default/showing state. Starting with the mobile view, style the layout and links for how they will look when visible */
header {
    background-color: var(--violet);
    color: white;
    padding: 1rem;
}

header a {
    color: white;
    text-decoration: none;
    /* allows the clickable area to take up the full width and height of the li */
    display: block;
}

h1 a:hover {
    color: #F77F00;
}

.menu a:hover,
.menu a:active {
    background-color: var(--violet);
}

.toggle-btn {
    background-color: var(--violet);
    border: none;
    outline: none;
}

.toggle-btn:hover {
    cursor: pointer;
}

.toggle-btn svg rect {
    fill: #FCBF49;
}

.toggle-btn:hover svg rect {
    fill: #F77F00;
}

.menu li {
    /* the extra space from the additional line height, makes this a larger area and vertically centers the text */
    line-height: 2.5rem;
    text-align: center;
}

/* Step 2: Now let's hide the menu. Once it's hidden this is the default load stage. If using display: none; - that property cannot be transitioned. */

header nav {
    /* style this for how it will look overlapped the main content */
    /* this element does not have a parent container that is positioned relative, therefore it's positioned in relationship to the browser screen */
    position: absolute;
    top: 4.125rem; /* the height of the closed header */
    left: 0;
    /* once positioning absolute, this disappears from the document flow and it doesn't leave a space where it was. This does not have a background color, because it's not content the header sees anymore */
    background-color: var(--violet);
    width: 100vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
}

/* Step 3: Create a special class that will show the menu. This class name exists only in the CSS file for now. Next the javascript will add this class to the nav element for us. Let's go and do that in the main.js file */
.show-nav {
    max-height: 100vh;
}

/* ************************* section ****************** */

section {
    padding: 3.125rem;
    text-align: center;
    text-transform: uppercase;
}

section p {
    color: #002438;
    border-bottom: 2px solid #F77F00;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 1.777rem;
}

section h2 {
    color: #002438;
    font-size: 3.157rem;
    margin-bottom: 2rem;
}

.gallery {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.thumbnail {
    margin: 0 0.5rem;
    position: relative;
}

.thumbnail img {
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

span {
    background-color: #FCBF49;
    color: #fff;
    font-weight: bold;
    user-select: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    /* position this span over the image */
    position: absolute;
    /* The top, right, bottom, left values position in relation to the screen UNLESS the parent container is a relative positioned element */
    top: -20px;
    right: -10px;
}

/* Step 4: add a media query and show the nav by default (hide the toggle button) and style it as a horizontal nav */

@media only screen and (min-width: 37.5rem) {
    .inner-container {
        max-width: 64rem;
        margin: auto;
    }

    .toggle-btn {
        display: none;
    }

    /* we want to see the nav by default, so give it a height back */
    header nav  {
        /* reset the position value and the width */
        /* position static is how elements are normally placed - unsetting the absolute value */
        position: static;
        width: auto;
        max-height: unset;
        overflow: visible;
    }

    .menu,
    header .inner-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu li {
        margin-left: 0.5rem;
    }

    .menu li a {
        padding: 0 0.5rem;
    }

    .menu a:hover,
    .menu a:active {
        background-color: unset;
        color: #F77F00;
    }
}